<div class="mb-4 d-flex justify-content-between align-items-center ">
      <button routerLink="/expense-form" type="button" class="btn btn-primary">Add Expense</button>
      <h5 class="fw-bold">Total Expenses: <strong class="text-success">${{ totalExpenses }}</strong></h5>
</div>

<div class="d-flex flex-column gap-3">
      @for (expense of expenses; track $index){
            <div class="card">
                  <div class="card-body">
                        <h5 class="card-title">{{ expense.title }}</h5>
                        <h2 class="fw-bold text-success">${{ expense.price }}</h2>
                        <p class="card-text">{{ expense.description }}</p>
                        <div class="d-flex gap-2">
                              <button (click)="editExpense(expense.key!)" type="button" class="btn btn-sm btn-success">Edit</button>
                              <button (click)="removeExpense(expense.key!)" class="btn btn-sm btn-danger">Remove</button>
                        </div>
                  </div>
            </div>
      }
</div>